.card {
  width: 30rem;
  background-color: #e0e0e0;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 25px auto;
  padding: 10px;
}

.form-control label {
  display: block;
  font-weight: bold;
}

.form-control button {
  background-color: beige;
}
